.navbar-dark,
.navbar[data-bs-theme=dark] {
  --bs-navbar-color: #ffffff;
}

.navbar-brand{
    font-size: 20pt;
}

table.dataTable thead tr {
  background-color: #b2b7c1;
}

td {
  word-wrap: break-word;
}

.tile{
  height: 100px;
}

.tile:hover{
  opacity: .9;
}

.tile#userRegistration{
  background-color: #3d8bfd;
  color: #fff;
}

.tile#roles{
  background-color: #146c43;
  color: #fff;
}

.tile#departments{
  background-color: #1aa179;
  color: #fff;
}

.navbar-brand{
  font-family: poppings, sans-serif;
  font-weight: bold;
}

.nav-item{
  font-weight: bold;
}