.navbar-dark,
.navbar[data-bs-theme=dark] {
  --bs-navbar-color: #ffffff;
}

.navbar-brand{
    font-size: 20pt;
}

table.dataTable thead tr {
  background-color: #b2b7c1;
}

td {
  word-wrap: break-word;
}